@use "variables";
// For the extra things in my styling that were not learned in our course, I looked at websites like CSS Tricks and Kevin Powell's YouTube channel for inspiration


// General Layout Styles and Resets
html {
    scroll-behavior: smooth;
}

// todo: fix the wrapper so that the width and padding are consolidated for the new layout
.wrapper {
    max-width: 1260px;
    width: 80%;
    padding-left: 25%;
    margin: 0 auto;
}

body {
    margin: 0;
    padding: 0;
    background-color: variables.$colour7;
}

h2, h3 {
    margin: 0 auto;
}

ul {
    list-style: none;
}

button {
    all: unset;
}

section {
    display: flex;
    // align-items: center;
    padding-block: 45%;
}

// Header
// Side Nav Bar
.sideBar {
    margin: 0;
    position: fixed;
    padding: 15% 0 0 15%;
    background-color: variables.$colour7;
    
    // positionining my name and job title
    h1 {
        margin: -11px auto;
    }

    .jobTitle {
        padding-left: 34px;
    }

    .navItems {
        padding: 50px 0 0 214px;
        
        li {
            padding-top: 15px;
        }
    }
}

// Hello!
.hello {
    // display: flex;

    .aBox1 {
        padding-left: 10%;
    }
}

// Skills
.skills {
    // display: flex;

    .sBox1 {
        width: 26%;
    }

    .sBox2 {
        display: flex;
        flex-wrap: wrap;
        width: 60%;
        justify-content: space-around;


        i {
            font-size: 5rem;
            padding: 0 60px 0 0;
        }
    }
}

// Projects
.projects {
    flex-direction: column;

    .project {
        display: flex;
        padding-top: 5%;

        .pBox {
            padding-left: 10%;
        }
    }
}

// Contact/Get in touch
.contact {
    // display: flex;
    padding-bottom: 5%;

    .contactForm {
        display: flex;
        flex-direction: column;
        padding-left: 5%;
        width: 70%;
    }

    .material-symbols-outlined {
        font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 48
    }
}

footer {
    display: flex;
    justify-content: flex-end;
    padding: 3% 3% 2% 0;
}