@use "variables";

// General Layout Styles

.wrapper {
    max-width: 1260px;
    width: 90%;
    margin: 0 auto;
}

// .skip-link {
//     position: absolute;
//     left: -1000px;
//     top: 5px;
//     z-index: 10;
//     background: white;
//     color: black;
// }