html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: "Nunito";
  src: url("../assets/fonts/Nunito-Bold.ttf");
}
@font-face {
  font-family: "BV";
  src: url("../assets/fonts/BeVietnamPro-SemiBold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "BV";
  src: url("../assets/fonts/BeVietnamPro-Regular.ttf");
  font-weight: normal;
}
html {
  font-size: 125%;
}

body {
  font-family: "BV";
  font-size: 1rem;
  color: #6e688c;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h4, footer {
  font-family: "Nunito";
}

h1 {
  font-size: 3.38rem;
  color: #41a162;
}

h2 {
  color: #f09f96;
}

.jobTitle {
  color: #6e688c;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.15rem;
  font-weight: normal;
}

h4 {
  font-size: 1.15rem;
}

h5 {
  font-size: 0.85rem;
  font-weight: bold;
}

i {
  font-size: 1.75rem;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  max-width: 1260px;
  width: 90%;
  margin: 0 auto;
}

.mainWrapper {
  padding-left: 40%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fef8f8;
  overflow-x: hidden;
}

h2, h3 {
  margin: 0 0;
}

ul {
  list-style: none;
}

button {
  all: unset;
  cursor: pointer;
  color: #fef8f8;
  border-radius: 5px;
  -webkit-box-shadow: inset 0px 0px 6px 3px #EFDCFB;
          box-shadow: inset 0px 0px 6px 3px #EFDCFB;
  background: -webkit-gradient(linear, left top, left bottom, from(#fef8f8), to(#673c85));
  background: linear-gradient(#fef8f8, #673c85);
  padding: 10px 15px 10px 15px;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 40% 0 40% 10%;
}

.hPos {
  margin-top: -45%;
}

.sPos {
  padding-top: 15%;
}

.pPos {
  margin-top: -30%;
}

.cPos {
  margin-top: -20%;
}

header {
  position: fixed;
  margin: 0 auto;
  background-color: #fef8f8;
  height: 100vh;
  padding: 13rem 4rem;
  z-index: 2;
}
header .sideBar h1 {
  margin: -11px auto;
}
header .sideBar .jobTitle {
  padding-left: 34px;
}
header .sideBar .navItems {
  padding: 50px 0 0 214px;
}
header .sideBar .navItems li {
  padding-top: 15px;
}

.imgBox1 .pic {
  margin: 0 0;
  height: 115vh;
  left: 72%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  position: absolute;
  z-index: 1;
}

.hello {
  padding-top: calc(115vh + 80%);
}

.skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.skills .sBox1 {
  width: 100%;
}
.skills .sBox2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.skills .sBox2 li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.skills .sBox2 li p {
  -ms-flex-item-align: center;
      align-self: center;
  margin-top: 15px;
}
.skills .sBox2 i {
  font-size: 5rem;
}
.skills .sBox2 .netlify, .skills .sBox2 .p5, .skills .sBox2 .ableton, .skills .sBox2 .keyshot, .skills .sBox2 .zbrush {
  width: 100px;
}

.projects {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.projects h4 {
  margin: 0 auto;
}
.projects .project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 5%;
}
.projects .project .pBox {
  padding-left: 10%;
}

.contact {
  padding-bottom: 5%;
}
.contact p {
  width: 70%;
}
.contact .contactForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}
.contact .contactForm label {
  padding-block: 10px;
}
.contact .contactForm button {
  margin-top: 10px;
}
.contact i {
  padding: 40px 20px 0 0;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0 3% 2% 0;
}

button:hover {
  -webkit-transform: scale(105%);
          transform: scale(105%);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

button:focus {
  -webkit-transform: scale(105%);
          transform: scale(105%);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.contact i:hover, .sideBar a:hover {
  color: #f09f96;
  -webkit-transition: color, -webkit-transform 0.15s ease-in-out;
  transition: color, -webkit-transform 0.15s ease-in-out;
  transition: color, transform 0.15s ease-in-out;
  transition: color, transform 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
}

.contact i:focus, .sideBar a:focus {
  color: #f09f96;
  -webkit-transition: color, -webkit-transform 0.15s ease-in-out;
  transition: color, -webkit-transform 0.15s ease-in-out;
  transition: color, transform 0.15s ease-in-out;
  transition: color, transform 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
}

@media (max-width: 1000px) {
  /* all of our styles for smaller DESKTOP devices will go within this breakpoint */
}
@media (max-width: 800px) {
  /* all of our styles for TABLET devices will go within this breakpoint */
}
@media (max-width: 500px) {
  header {
    position: relative;
    margin: 0 auto;
    height: 20vh;
    padding: 3rem 3rem;
    z-index: 2;
    width: 100vw;
  }
  .sideBar {
    background-color: #fef8f8;
  }
  .sideBar h1 {
    font-size: 2.63rem;
  }
  .sideBar .jobTitle {
    padding: 10px;
    font-size: 1rem;
  }
  .sideBar .navItems {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: center;
        align-content: center;
    padding: 0;
  }
  .sideBar .navItems li {
    padding-top: 5px;
  }
  .sideBar .navItems .arrow {
    display: none;
  }
}